assets/happy_guitar.kra
assets/happy_guitar.kra-autosave.kra
assets/happy_guitar.kra~
assets/happy_guitar.png~
assets/me_dev_format.png~
assets/me_dev.jpg
assets/me_guitar.jpg
assets/me_guitar.jpg-autosave.kra
assets/me_guitar.jpg-autosave.kra~
assets/sad_guitar.jpg
assets/test.png
assets/happy_guitar.jpg
